@import url();

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}
body{
    height: auto;
    align-items: center;
    width: 80%;
    background-color: #000000;
    color: #fcc2f4;
    border-radius: 8px;
    border-style: solid;
    border-width: 3px;
    border-color: #fcc2f4;
    margin: auto;
}

.xtlye__Titulo{
    padding: 3%;
    padding-left: 5%;
    font-size: 25px;


}

.xtlye_formulario{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding-left: 9%;
    font-size: 20px;

}

.xtyle__input{
    display: flex;
    flex-direction: column;
    padding: 1.5%;
    
}
input{
    padding-right: 45vw;
    width: 85%;
    padding-bottom: 13px;
    border-radius: 8px;
}

label{
    text-align: start;

}

select{
    display: flex;
    justify-content: flex-start;
    padding-right: 10vw;
    width: 50%;
    padding-bottom: 13px;
    border-radius: 8px;
    font-size: 20px;

}
button{
    background-color: aqua;
    color: #000000;
    font-size: 20px;
    border-radius: 7px;
    border: 2px solid aqua;
    padding: 5px 15px;
    margin-left: 15px;
    margin-bottom: 35px;
    margin-top: 15px;
}
